# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environment
note-venv/
env/

# Django stuff
staticfiles/
media/
*.sqlite3

# Environment variables & secrets
.env
*.env

# PyCharm / VSCode / Editors
.idea/
.vscode/

# OS junk
.DS_Store

# Test / Coverage
coverage/
htmlcov/
.pytest_cache/

